*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.hero_main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.navigation{
    display: flex;
    align-items: center;
}

.icon{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.cup{
    width: 90px;
}


.fifa{
    color: white;
    font-size: 30px;
}

.year{
    color: rgb(204, 185, 13);
    font-size: 0.85rem;
    font-weight: 600;
}

ul{
    display: flex;
    list-style: none;
    gap: 40px;
}

a {
    text-decoration: none;
    color: white;
}

.menu{
    width: 20px;
    color: white;
}

.menu_img{
    width: 20px;
}

.border{
    border: 3px solid transparent;
    transition: all 0.3s ease;
}

.border:hover{
    border-bottom: 3px solid yellow;
    border-radius: 5px;
}

.worldcup{
    height: 600px;
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.heading{
    display: flex;
}

.hero-content{
    display: flex;
}

.text{
    display: block;
    margin-top: 100px;
    margin-left: 50px;
}

.first{
    color: white;
    font-size: 70px
}

.second{
   color: white;
   font-size: 70px
}

.third{
    color: rgb(204, 185, 13);
    font-size: 70px
}


p{
    color: white;
    font-size: 30px;
}

.button{
    border: 1px solid white;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background: transparent;
    color: white;

}

.view:hover{
    background-color: rgb(200, 161, 7);
    color: black;
    border: 1px solid rgb(200, 161, 7);
}

.stats{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.stat_icon{
    width: 40px;
    background-color: white;
    border-radius: 40px;
}

h3{
    font-size: 25px;
    color: white;
}

.stat_sub{
    font-size: 20px;
}

.stat{
    display: flex;
    align-items: center;
    gap: 15px;

    background: rgba(255,255,255,0.1);
    padding: 15px 20px;
    border-radius: 12px;
}

.button_{
    display: flex;
    gap: 25px;
    flex-direction: row;
}


footer{
    background:#06152d;
    padding:60px 0 20px;
}

.footer-container{

    width:90%;
    max-width:1200px;

    margin:auto;

    display:flex;
    justify-content:space-between;
    align-items:flex-start;

    gap:50px;

    flex-wrap:wrap;

}

.footer-box{

    flex:1;
    min-width:220px;

}

.logo{
    width:40px;
    margin-bottom:25px;
}

.footer-box h3{

    color:#ffc400;

    margin-bottom:30px;

    font-size:22px;

}

.footer-box p{

    color:#f2f2f2;

    font-size:18px;

    margin-bottom:18px;

    display:flex;

    align-items:center;

    gap:12px;

    line-height:1.5;

}

.footer-box a{

    display:block;

    color:white;

    text-decoration:none;

    margin-bottom:18px;

    font-size:18px;

    transition:.3s;

}

.footer-box a:hover{

    color:#ffc400;

}

.social-icons{

    display:flex;

    gap:18px;

    margin-top:30px;

}

.social-icons a{

    width:58px;

    height:58px;

    border:2px solid gray;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

    font-size:24px;

    text-decoration:none;

    transition:.3s;

}

.social-icons a:hover{

    background:#ffc400;

    color:black;

    border-color:#ffc400;

}

.footer-box i{

    width:25px;

    text-align:center;

}

hr{

    width:90%;

    max-width:1200px;

    margin:45px auto 20px;

    border:none;

    border-top:1px solid #2d3f5f;

}

.copyright{

    color:#cfcfcf;

    text-align:center;

    font-size:18px;

}

@media(max-width:900px){

    .footer-container{

        flex-direction:column;

    }

    .footer-box{

        width:100%;

    }

}
