*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    line-height:1.6;
}

section{
    padding:60px 10%;
}

img{
    max-width:100%;
}

button{
    cursor:pointer;
}

/* ========================= */
/* Footer */
/* ========================= */

footer{
    background:#06152d;
    padding:60px 0 20px;
}

.footer-container{

    width:90%;
    max-width:1200px;

    margin:auto;

    display:flex;
    justify-content:space-between;
    align-items:flex-start;

    gap:50px;

    flex-wrap:wrap;

}

.footer-box{

    flex:1;
    min-width:220px;

}

.logo{
    width:40px;
    margin-bottom:25px;
}

.footer-box h3{

    color:#ffc400;

    margin-bottom:30px;

    font-size:22px;

}

.footer-box p{

    color:#f2f2f2;

    font-size:18px;

    margin-bottom:18px;

    display:flex;

    align-items:center;

    gap:12px;

    line-height:1.5;

}

.footer-box a{

    display:block;

    color:white;

    text-decoration:none;

    margin-bottom:18px;

    font-size:18px;

    transition:.3s;

}

.footer-box a:hover{

    color:#ffc400;

}

.social-icons{

    display:flex;

    gap:18px;

    margin-top:30px;

}

.social-icons a{

    width:58px;

    height:58px;

    border:2px solid gray;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

    font-size:24px;

    text-decoration:none;

    transition:.3s;

}

.social-icons a:hover{

    background:#ffc400;

    color:black;

    border-color:#ffc400;

}

.footer-box i{

    width:25px;

    text-align:center;

}

hr{

    width:90%;

    max-width:1200px;

    margin:45px auto 20px;

    border:none;

    border-top:1px solid #2d3f5f;

}

.copyright{

    color:#cfcfcf;

    text-align:center;

    font-size:18px;

}

@media(max-width:900px){

    .footer-container{

        flex-direction:column;

    }

    .footer-box{

        width:100%;

    }

}